@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: pink;
}

.home {
  /* background-image: url(rain.avif); */

}

/* code {
  font-family: Arial, Helvetica, sans-serif
} */

/* link {
  margin: 20px;
} */


