@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html {
    @apply text-blue-100;

  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(rain.avif);
}




/* .home {
  /* background-image: url(rain.avif);  */



